<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="dashboard2.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div id="mySidenav" class="sidenav">
      <span align="center">
        <img
          src="{{url_for('static',filename='/Indivolt.png')}}"
          alt="Indivolt"
          width="75"
          height="75"
          align="left"
        />
        <p class="logo" align="left">IndiVolt</p></span
      >

      <a href="#" class="icon-a">
        <i class="fa fa-shopping-bag icons"></i> &nbsp;&nbsp;Monthly Cost
        Savings</a>
      <a href="#" class="icon-a">
        <i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Monthly usage of
        Renewable Resources</a>
      <a href="#" class="icon-a"
      <a href="#" class="icon-a">
        ><i class="fa fa-shopping-bag icons"></i> &nbsp;&nbsp;Monthly Cost
        Savings</a
      >
      <a href="#" class="icon-a">
        ><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Monthly usage of
        Renewable Resources</a
      >
      <a href="#" class="icon-a">
        ><i class="fa fa-list icons"></i> &nbsp;&nbsp;Settings</a
      >
    </div>
    <div id="main">
      <div class="head">
        <div class="col-div-6">
          <span
            style="font-size: 30px; cursor: pointer; color: white"
            class="nav"
            >&#9776; Dashboard</span
          >
          <span
            style="font-size: 30px; cursor: pointer; color: white"
            class="nav2"
            >&#9776; Dashboard</span
          >
        </div>

        <div class="col-div-6">
          <div class="profile">
            <p>User1 <span>Flat number</span></p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="clearfix"></div>
      <br />

      <div class="col-div-3">
        <div class="box">
          <p>Rs. ___<br /><span>Saved this month</span></p>
        </div>
      </div>

      <div class="col-div-3">
        <div class="box">
          <p>___%<br /><span>Renewable Energy used.</span></p>
        </div>
      </div>
      <div class="clearfix"></div>
      <br /><br />

      <div class="clearfix"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(".nav").click(function () {
        $("#mySidenav").css("width", "70px");
        $("#main").css("margin-left", "70px");
        $(".logo").css("visibility", "hidden");
        $(".logo span").css("visibility", "visible");
        $(".logo span").css("margin-left", "-10px");
        $(".icon-a").css("visibility", "hidden");
        $(".icons").css("visibility", "visible");
        $(".icons").css("margin-left", "-8px");
        $(".nav").css("display", "none");
        $(".nav2").css("display", "block");
      });

      $(".nav2").click(function () {
        $("#mySidenav").css("width", "300px");
        $("#main").css("margin-left", "300px");
        $(".logo").css("visibility", "visible");
        $(".icon-a").css("visibility", "visible");
        $(".icons").css("visibility", "visible");
        $(".nav").css("display", "block");
        $(".nav2").css("display", "none");
      });
    </script>
  </body>
</html>
